---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Particules from '../components/Particules.astro';
import ButtonSocialNetwork from '../components/buttonSocialNetwork.astro';
---

<Layout title="2Core">
	<main class="flex flex-col items-center">
		<div class="max-w-[1920px] w-full">
			<Header />
			<Hero />
			<Particules />
			<ButtonSocialNetwork />
		</div>
	</main>
</Layout>

