---
export interface Props{
    titleCard:string
    textCard:string
}

const {titleCard, textCard} = Astro.props
---

    <div class="w-[350px] max-lg:w-[310px] max-ls:w-[250px] h-[412px] max-md:h-[300px] max-ls:h-[270px] bg-gradient-to-b from-[#ffffff] to-[rgba(1,52,83,1)]  rounded-[12px] mt-[20px] max-ls:mt-[20px] p-[2px] flex flex-col max-md:items-center mx-[10px] justify-center" data-tilt >
        <div  id="card" class="w-[100%] h-[100%] bg-gradient-to-br from-[rgba(1,52,83,1)] via-[#385D75] to-[rgba(1,52,83,1)] rounded-[12px] px-[10px]" >
            <p id="titleCard" class="mt-[10%] max-sm:mt-[10px] text-white text-[4rem] max-md:text-[3rem] max-sm:text-[2.5rem] max-ls:text-[2.2rem] font-[500]">{titleCard}</p>
            <div class="w-[150px] max-ls:w-[100px] h-[4px] bg-white rounded-full"></div>
            <p id="textCard" class="font-[400] text-white text-[2.4rem] max-md:text-[2rem] max-ls:text-[1.8rem] mt-[20px] max-sm:mt-[10px] max-md:text-center">{textCard}</p>
        </div>
    </div>



<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/vanilla-tilt.min.js"></script>