---
import Cards from './subComponents/Cards.astro'
const textCardVelocity:string = "E-commerces é o nosso carro chefe. Faça seu negócio vender em qualquer lugar do mundo e aumente suas vendas. Com um preço justo!"
const textCardTechnology:string = "Páginas web com uma única página. Perfeito para divulgação de sua empresa. Campos para contato e formúlarios para observações."
const textCardSecurity:string = "Faça sua empresa ficar a um clique de seus clientes. Um Aplicativo ou software permite agilizar tarefas e gerar muita receita para você."

---


<section id="about" class="w-full pb-[20px] flex justify-center">
    <div class="w-11/12 flex flex-col max-md:items-center">
        <p class="text-lightBlue mt-[15px] max-w-[360px] font-[500] text-[2.6rem] max-sm:text-[2.2rem] max-ls:text-[2rem] font-Inter max-ls:text-center">O que fazemos de melhor?</p>
        <p class="text-white mt-[10px] text-[4.5rem] max-lg:text-[3.8rem] max-md:text-[3.3rem] max-sm:text-[3rem] max-ls:text-[2.5rem] max-md:text-center font-[500] font-Jost">Temos os melhores serviços, para as<br/> crescer, melhores empresas.</p>
        <div class="flex max-md:flex-col justify-between flex-wrap"> 
            <Cards titleCard="E-commerces" textCard={textCardVelocity}/> 
            <Cards titleCard="Home Pages" textCard={textCardTechnology}/> 
            <Cards titleCard="Softwares"  textCard={textCardSecurity}/> 
        </div>
    </div>
</section>