---
import LineLight from "./subComponents/LineLight.astro";
import Caracteristics from "./subComponents/Caracteristics.astro";
---


<div class="w-full pb-[80px] bg-primary  flex justify-center">
    <div class="w-11/12 inline-flex flex-col max-md:items-center ">
        <LineLight />
        <p class="text-lightBlue mt-[25px] font-[500] text-[2.6rem] max-sm:text-[2.2rem] max-ls:text-[2rem] font-Inter max-ls:text-center hover:scale-[1.10]">Nosso diferencial</p>
        <p class="text-white mt-[30px] text-[5rem] max-lg:text-[3.8rem] max-md:text-[3.3rem] max-sm:text-[3rem] max-ls:text-[2.5rem] max-md:text-center font-[500] font-Jost">4 Características que só a 2Core  <br />pode lhe oferecer:</p>
        <div class="flex justify-between max-sm:flex-col max-sm:items-center">
            <Caracteristics titleCaracteristics={"Manutenção"} typeIcon={"One"} textCaracteristics={"Não dependa dependa de ninguém e faça você mesmo as alterações em seu site, de forma simples e com planos acessíveis."}/>
            <Caracteristics titleCaracteristics={"Chat"} typeIcon={"Two"} textCaracteristics={"Tire duvidas e usufrua de nossa equipe de suporte em tempo real via chat dentro da plataforma, e crie o site do seu jeito."} />
        </div>
        <div class="flex justify-between max-sm:flex-col max-sm:items-center">
            <Caracteristics titleCaracteristics={"2Docs"} typeIcon={"Three"} textCaracteristics={"Softwares feitos para sua empresa. O 2Docs Facilita o compartilhamento de arquivos com seus clientes."} />
            <Caracteristics titleCaracteristics={"Acompanhamento"} typeIcon={"Four"} textCaracteristics={"Tenha o acompanhamento detalhado do progresso de seu site ou software, e tenha certeza que tudo será feito no prazo."} />
        </div>
    </div>
</div>