<footer class="w-full z-10 py-[3%] flex justify-center items-center bg-primary backdrop-blur"> 
    <div class="w-11/12 flex justify-between items-end max-ls:items-center">
        <img src="/img/companyLogo.svg" class="w-[120px] h-[56px] max-sm:w-[90px] max-sm:h-[36px] hover:scale-110" alt="Logo 2Core"/>
        <p  class=" text-white text-[2rem] mx-[10px]  max-sm:text-[1.4rem] max-ls:text-[1rem] font-Inter h-[56px] max-sm:h-[46px]  flex text-end items-end font-[300]">Copyright © 2022</p>
        <p  class=" text-white text-[2rem]  max-sm:text-[1.4rem] max-ls:text-[1rem] font-Inter h-[56px] max-sm:h-[46px]  flex items-end text-end font-[500]">termos e condições</p>
    </div>
</footer>