<div class="w-full z-10 flex justify-center fixed bg-gradient-to-r from-[RGBA(1,52,83,.3)] to-[RGBA(255,255,255,.3)] backdrop-blur"> 
    <div class="w-11/12 flex justify-between">
        <img src="/img/companyLogo.svg" class="w-[120px] h-[56px] max-sm:w-[100px] hover:scale-110" alt="Logo 2Core"/>
        <a href="" class="w-[70px] text-primary text-[2.6rem]  max-sm:text-[2.2rem]  hover:scale-110 font-Inter h-[56px] flex items-end font-[600] underline">
            Menu
        </a>
    </div>
</div>