
<section id="hero" class=" w-full">


    <div id="hero" class="w-full bg-no-repeat bg-cover flex justify-center pb-[30px]">

        <div class="w-11/12 mt-[20px]">
            <div class="w-full flex justify-between "> 
                <div>
                    <h1 class="font-Jost text-[8rem] max-xl:text-[6rem] max-lg:text-[6rem] max-md:text-[5rem] max-sm:text-[4rem] max-ls:text-[3.3rem] mt-[40px] font-[500]">
                        Sofisticação e<br/> inteligencia para <br/> empresas
                    </h1>
                    <div class="group p-[5px]  hover:scale-110 hover:p-[10px] inline-flex items-center mt-[100px] max-lg:mt-[60px] max-md:mt-[60px] max-sm:mt-[20px] bg-white">
                        <a href="contact" class="text-[black] group-hover:scale-110  underline font-[500] text-[2.8rem] max-sm:text-[2rem]   mr-[30px] max-sm:mr-[20px]">
                            Contate-nos
                        </a>
                        <img src="/icons/arrowRight.svg"  class="group-hover:scale-110  w-[60px] h-[60px] max-md:w-[50px] max-md:h-[50px] max-sm:w-[40px] max-sm:h-[40px]  cursor-pointer " alt="Icone de uma flecha"/>
                    </div>
                </div>

                <div id="divIcons" class="ease-in-out duration-700 max-sm:hidden w-[70px] rounded-full flex flex-col items-center">
                    <a href="https://www.instagram.com/2core.company/" target="_blank" >
                        <img src="/icons/iconFacebook.svg" class=" p-[5px] bg-white rounded-full cursor-pointer w-[50px] max-lg:w-[40px] h-[50px] max-lg:h-[40px]  mt-[80px] hover:scale-125  "  alt="icone instagram"/>
                    </a>
                    <img src="/icons/iconInstagram.svg" class="p-[5px] bg-white rounded-[20px] cursor-pointer w-[50px] max-lg:w-[40px] h-[50px]  max-lg:h-[40px]  mt-[40px] hover:scale-125 mb-[10px]" alt="icone facebook"/>
                    <img src="/icons/iconTwitter.svg" class="p-[5px] bg-white rounded-full cursor-pointer w-[50px] max-lg:w-[40px] h-[50px]   max-lg:h-[40px]  mt-[40px] hover:scale-125" alt="icone twitter"/>
                    <i class="max-sm:hidden bg-white w-[5px] h-[200px] max-lg:h-[150px] mt-[30px] "></i>
                    <div id='buttonClosed' class="w-[50px] flex justify-center mt-[2px] hover:scale-125">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<style>
    #hero{
        background-image: url("/img/backgroundHero.jpg");
    }
</style>

