<div class=" w-full">
    <div id="hero" class="w-full bg-no-repeat bg-cover flex justify-center pb-[30px]">
        <div class="w-11/12 mt-[20px]">
            <div class="w-full flex justify-between "> 
                <div>
                    <h1 class="text-white text-[10rem] max-xl:text-[8rem] max-lg:text-[6rem] max-md:text-[6rem]  max-sm:text-[4rem] max-ls:text-[3.3rem] leading-[12rem] max-xl:leading-[10rem] max-sm:leading-[6rem] mt-[40px] font-[500]">
                        Sofisticação e<br/> inteligencia para <br/> empresas
                    </h1>
                    <div class="group inline-flex items-center mt-[100px] max-sm:mt-[60px]">
                        <a class="group-hover:scale-110 underline font-Inter font-[500] text-[3.2rem] max-sm:text-[2.3rem] text-white  mr-[30px] max-sm:mr-[20px]">
                            Contate-nos
                        </a>
                        <img src="/icons/iconArrowRight.svg"  class="group-hover:scale-110 w-[80px] h-[80px] max-md:w-[60px] max-md:h-[60px] max-sm:w-[50px] cursor-pointer" alt="Icone de uma flecha"/>
                    </div>
                </div>

                <div id="divIcons" class="ease-in-out duration-700 max-sm:hidden w-[70px] rounded-full flex flex-col items-center">
                    <img src="/icons/iconFacebook.svg" class="cursor-pointer w-[40px]  h-[40px]   mt-[80px] hover:scale-125 "  alt="icone instagram"/>
                    <img src="/icons/iconInstagram.svg" class="cursor-pointer w-[40px]  h-[40px]   mt-[80px] hover:scale-125 mb-[10px]" alt="icone facebook"/>
                    <img src="/icons/iconTwitter.svg" class="cursor-pointer w-[40px]  h-[40px]    mt-[80px] hover:scale-125" alt="icone twitter"/>
                    <i class="max-sm:hidden bg-white w-[5px] h-[200px] mt-[40px]"></i>
                    <div id='buttonClosed' class="w-[50px] flex justify-center mt-[2px] hover:scale-125">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<style>
    #hero{
        background-image: url("/img/backgroundHero.webp");
    }
</style>