---
import LineLight from "./subComponents/LineLight.astro";
import Service from './subComponents/Services.astro'
---

<section id="services" class="w-full pb-[50px] bg-gradient-to-b from-primary to-[#32597c]  flex justify-center ">
    <div class="w-11/12 inline-flex flex-col max-md:items-center ">
        <LineLight />
        <p class="text-lightBlue mt-[25px] max-w-[360px] font-[500] text-[2.6rem] max-sm:text-[2.2rem] max-ls:text-[2rem] font-Inter max-ls:text-center">O que fazemos de melhor?</p>
        <p class="text-white mt-[30px] text-[4.5rem] max-lg:text-[3.8rem] max-md:text-[3.3rem] max-sm:text-[3rem] max-ls:text-[2.5rem] max-md:text-center font-[500] font-Jost">Temos os melhores serviços, para as <br />melhores empresas.</p>
        <div class="w-full mt-[35px] after:w-full after:h-[2px] after:bg-[#C3C3C3] after:block">
            <Service typeServices="Ecommerce"/>
            <Service typeServices="Home-Page"/>
            <Service typeServices="Softwares"/>
        </div>
    </div>
</section>