---
import LineLight from "./subComponents/LineLight.astro";
---


<div class="w-full pb-[60px] bg-gradient-to-b from-primary to-[#0D094F] flex justify-center">
    <div class="w-11/12 inline-flex flex-col max-md:items-center ">
        <LineLight />
        <p class="text-white mt-[30px] text-[5rem] max-lg:text-[3.8rem] max-md:text-[3.3rem] max-sm:text-[3rem] max-ls:text-[2.5rem] max-md:text-center font-[500] font-Jost">Saiba como fazer sua empresa crescer!</p>
        <p class="text-lightBlue mt-[25px] max-w-[360px] font-[500] text-[2.6rem] max-sm:text-[2.2rem] max-ls:text-[2rem] font-Inter max-ls:text-center">Blog -</p>
        <div class="flex justify-self-center self-center w-full   max-sm:h-full  max-sm:flex-col max-sm:items-center">
                <div class="bg-[#006494] w-[6%] min-w-[50px] max-sm:w-full max-sm:min-h-[50px]  h-full flex justify-center items-center relative rounded-[12px]">
                    <p class="rotate-[270deg] max-sm:rotate-[0deg] text-[#B9DCED] w-[300px]  text-[5rem] max-lg:text-[2.8rem] max-md:text-[2.4rem] text-center absolute font-[400]">Último post</p>
                </div>

                <div class="w-[40%] max-sm:w-[80%] pb-[30px]  max-sm:mt-[30px] h-full max-sm:h-full col-span-4relative border-[3px] rounded-[12px] border-solid border-terciary relative">
                    <img class=" w-full h-[64%] max-sm:h-[300px] max-ls:h-[200px] rounded-[12px]" src="/img/notebook.jpg" alt="imagem da materia postada em nosso blog " />
                    <p class="text-[4rem] max-xl:text-[3.5rem] max-lg:text-[3rem] max-md:text-[2rem] font-[300] mt-[20px] max-sm:mt-[10px] before:w-[4px] ml-[50px] max-lg:ml-[0px] max-lg:p-[3px] max-lg:mt-[0px]  before:h-[100px] before:block before:bg-lightBlue before:absolute before:left-10 before:mt-[20px] max-lg:before:hidden">Como crescer no instagram?</p>
                </div>

            <div class="h-full w-[60%] max-sm:mt-[50px] max-sm:w-full">
                <div class="bg-[#006494] hidden max-sm:w-full max-sm:min-h-[50px]  max-sm:flex justify-center items-center relative rounded-[12px]">
                    <p class="rotate-[270deg] max-sm:rotate-[0deg]  text-[#B9DCED] w-[300px]  text-[5rem] max-lg:text-[3rem] max-md:text-[2.4rem] text-center absolute font-[400]">Mais Vistos</p>
                </div>
                <div class="flex h-[85%] w-full max-sm:mt-[20px] max-sm:flex-col max-sm:items-center">
                    <div class="w-[50%] max-sm:w-[80%] h-full relative border-[3px] rounded-[12px] border-solid border-terciary">
                        <img class=" w-full h-[50%] max-sm:h-[300px] max-ls:h-[200px] rounded-[12px]" src="/img/tech.jpg" alt="imagem da materia postada em nosso blog"/>
                        <p class="text-[3rem] max-xl:text-[2.5rem] max-lg:text-[2rem] max-md:text-[1.8rem] font-[300] p-[10px] before:w-[4px] ml-[20px] max-lg:ml-[0px] max-lg:p-[3px] before:h-[80px] before:block before:bg-lightBlue before:absolute before:left-5 before:mt-[5px]  max-lg:before:hidden">Como crescer no instagram?</p>
                    </div>
                    <div class="w-[50%] max-sm:w-[80%] h-full relative border-[3px] rounded-[12px] border-solid border-terciary max-sm:mt-[20px]">
                        <img class=" w-full h-[50%] max-sm:h-[300px] max-ls:h-[200px] rounded-[12px]" src="/img/device.jpg" alt="imagem da materia postada em nosso blog"/>
                        <p class="text-[3rem] max-xl:text-[2.5rem] max-lg:text-[2rem] max-md:text-[1.8rem] font-[300] p-[10px] before:w-[4px] ml-[20px] max-lg:ml-[0px]  max-lg:p-[3px] before:h-[80px] before:block before:bg-lightBlue before:absolute before:left-5 before:mt-[5px] max-lg:before:hidden">Como crescer no instagram?</p>
                    </div>
                </div>
                <p class="text-[#B9DCED] max-sm:hidden bg-[#006494] w-full h-[15%] text-[5rem] max-lg:text-[3.5rem] font-[400] flex items-center justify-center rounded-[12px]">Mais vistos</p>
            </div>
        </div>
    </div>
</div>